IDAX_LEDGER_DB_NAME=idax
IDAX_LEDGER_DB_USER=postgres
IDAX_LEDGER_DB_PASSWORD=change-me
IDAX_LEDGER_BACKEND_PORT=8094
IDAX_LEDGER_PRIVATE_NETWORK_ID=2181844733
IDAX_LEDGER_PRIVATE_ENABLED=false
IDAX_LEDGER_ANCHOR_ACCOUNT=
IDAX_LEDGER_ANCHOR_SEED_FILE=
